@page
@model TestTitleCrawlerClient.Pages.ResultsModel
@{
}

<h1>Results</h1>
<section>
    @foreach (var response in Model.TitlesResponse)
    {
        <article>
            <h2>@response.Domain</h2>
            <ul>
                @for (int i = 0; i < response.Titles.Length; i++)
                {
                    <li>@string.Format("{0} -> {1}", i + 1, response.Titles[i])</li>
                }
            </ul>
        </article>
    }
</section>